.rating-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	padding: 1em 1em 1em 2em; /* Reduced padding */
	gap: 3px; /* Reduced gap */
	border-top-right-radius: 50px; /* Reduced radius */
	border-bottom-right-radius: 50px; /* Reduced radius */
	border: none;
	position: relative;
	background: #cacaca;
}

.rating-value {
	position: absolute;
	top: -5px; /* Adjusted top position */
	left: -50px; /* Adjusted left position */
	border-radius: 50%; 
	height: 90px; /* Reduced height */
	width: 90px; /* Reduced width */
	background: #0A9A73;
	box-shadow: 0 1px 1px hsl(0deg 0% 0%/0.075), 0 2px 2px hsl(0deg 0% 0%/0.075),
		0 4px 4px hsl(0deg 0% 0%/0.075), 0 8px 8px hsl(0deg 0% 0%/0.075),
		0 16px 16px hsl(0deg 0% 0%/0.075), inset 0 0 10px #0A9A73, 0 0 10px #0A9A73;
}

.rating-value::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	line-height: 100px; /* Adjusted line height */
	font-size: 2.5em;
	color: #2b2b2b;
	content: "0";
	transform-origin: center center;
	transition: all 0.25s ease;
}

.rating-value::after {
	content: "";
	position: absolute;
	height: 80px; /* Reduced height */
	width: 80px; /* Reduced width */
	top: 10px; /* Adjusted top position */
	left: 10px; /* Adjusted left position */
	margin: auto;
	border: 1px solid #0A9A73;
	border-radius: 50%;
	transition: all 0.4s ease-in;
}

.cls-1 {
    fill: #f7db5e;
}

.cls-2 {
    fill: #f3cc30;
}

.cls-3 {
    fill: #edbd31;
}

label {
	height: 40px; /* Reduced height */
	width: 40px; /* Reduced width */
	transform-origin: center center;
}

label svg {
	transition: transform 0.4s ease-in-out;
	opacity: 0.5;
}

label:hover svg {
	transform: scale(1.2) rotate(10deg);
}

input:checked ~ label svg {
	opacity: 1;
	transform: scale(1.2) rotate(10deg);
}

input:checked + label:hover svg {
	opacity: 1;
}

label:hover ~ input:checked ~ label svg {
	opacity: 1;
}

label:hover ~ input:checked ~ label svg {
	transform: scale(1.2) rotate(10deg);
}

#rate1:checked ~ .rating-value::before {
	content: "1";
	font-size: 2.75em;
}

#rate2:checked ~ .rating-value::before {
	content: "2";
	font-size: 3em;
}

#rate3:checked ~ .rating-value::before {
	content: "3";
	font-size: 3.25em;
}

#rate4:checked ~ .rating-value::before {
	content: "4";
	font-size: 3.5em;
}

#rate5:checked ~ .rating-value::before {
	content: "5";
	font-size: 3.75em;
}

#rate5:checked ~ .rating-value::after {
	animation: pulse 0.4s ease-out 1;
}

@keyframes pulse {
	0% {
		height: 30px; /* Reduced height */
		width: 40px; /* Reduced width */
		top: 0;
		left: 0;
		opacity: 1;
	}
	100% {
		height: 60; /* Reduced height */
		width: 60; /* Reduced width */
		top: -10px; /* Adjusted top position */
		left: -10px; /* Adjusted left position */
		opacity: 0;
	}
}

label[for="rate5"]:hover ~ .rating-value::before {
	content: "5" !important;
	font-size: 3.75em !important;
}
